
<%= content_for :js_libs, "modernizr parallax" %>
<%= content_for :styles do %>
  <%= stylesheet_link_tag "testers", media: "all", 'data-turbolinks-track': 'reload'%>
<% end %>


<main class="landing-3">
<div class="parallax-window" data-parallax="scroll" data-speed="0.5" data-image-src="<%= asset_path('rrt/stock/us_landscape_2.jpg') %>">

  <img src="<%= asset_path('rrt/stock/us_landscape_2.jpg') %>" style="display: none;">
  <div class="container">
    <div class="text-white">
      <%= render partial: 'content_blocks/landing_navs/1', locals: { nav_class: '' } %>
    </div>

    <div class="row">
      <div class="col-12 col-md-7 ml-md-auto mr-md-auto text-center text-white mt-5">
        <h1 class="text-shadow-light leading-normal">Get Paid To Build Your Portfolio</h1>
        <p class="lead font-weight-medium mt-5 text-shadow-light">DevX Testing allows you to build your skills by building projects and providing feedback to companies.</p>
      </div>

    </div>
    <div class="col-12 col-md-7 ml-md-auto mr-md-auto text-center text-white mt-5">
    <%= form_tag('/tester/waitlist', {role:"form", class:"inline-form"}) do %>
      <div class="form-group">
        <div class="input-group">
        <span class="input-group-prepend" id="basic-addon1"><div class="input-group-text text-white"><%= theme_icon_tag "user" %></div></span>
        <label class="sr-only" for="exampleInputEmail2">Name</label>
        <input type="text" name="name" class="form-control mr-2 text-white" id="exampleInputEmail2" placeholder="Enter name">
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend text-white"><div class="input-group-text text-white">@</div></div>
          <input class="form-control mr-2 text-white" type="email" name="email" placeholder="Enter email">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7 ml-md-auto mr-md-auto text-center text-white mt-5">
          <button class="btn btn-lg btn-circle btn-outline-light text-white text-hover-dark">Sign Up for the Waitlist</button>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row mt-5 pt-5 pb-5">
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle mb-4">
          <%= theme_icon_tag "eye", class: "text-opacity-9 display-3" %>
        </div>
        <h5>Start with Project Templates</h5>
        <p class="small px-5 text-opacity-8">DevX Testing with provide you with some project ideas and help to get you started. Getting debugging help from a thriving community.</p>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle text-white mb-4">
          <%= theme_icon_tag "ticket", class: "display-3" %>
        </div>
        <h5>Learn New Skills and Technologies</h5>
        <p class="small px-5 text-opacity-8">Gain real hands on experience with the latest technologies. Learn to communicate and build better documentation.</p>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle text-white mb-4">
          <%= theme_icon_tag "pulse", class: "display-3" %>
        </div>
        <h5>Make The World Better For All Developers</h5>
        <p class="small px-5 text-opacity-8">Documentation and developer experience is notoriously bad. Contribute to the lives of every developer by making it easier and less frustrating to do. </p>
      </div>
    </div>
  </div>
</div>


</main>
<section>
  <div class="container content-block-2 py-5 mt-5 mb-5">
    <div class="row">
      <div class="co-12 col-md-5 mr-md-auto">
        <%= image_tag("shanea-working.jpg", :alt => "shanea working") %>
      </div>
      <div class="col-12 col-md-6">
        <h3>Get Paid Per Project You Complete</h3>
        <p class="lead">Select the projects that match your demographics, skill level and time frame. </p>
        <p> Work as much or as little as you want. We'll teach you the best way to develop projects and communicate your feedback to companies.</p>
        <!--<a class="btn btn-primary" href="javascript:"><%= theme_icon_tag "eye" %> Action 1</a>
        <a class="btn btn-success" href="javascript:"><%= theme_icon_tag "upload" %> Action 2</a>-->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container content-block-1 py-5 mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Add Your Project To Github and Build Your Resume</h3>
        <p class="lead">Get hands on experience</p>
        <p> It can be hard to build projects from scratch let us help you get started and build your skills to show off to employers.</p>

      </div>
      <div class="co-12 col-md-5 ml-md-auto">
        <%= image_tag("github-logo.png", :alt => "github logo") %>

      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="container py-5">
    <div class="row no-gutters equal-cols align-items-center">
      <div class="col-12 col-md-5">
        <img class="mb-3 mb-md-0" src="//placeimg.com/800/600" height="510px">
      </div>
      <div class="col-12 col-md-5 mx-md-auto">
        <h2 class="leading-normal">What Do You Need To Get Started?</h2>
        <p class="lead">Signup is quick and easy. Just enter your email address on this page and complete a sample test. Once you’re approved, start taking real tests and earning real money!  </p>

        <div class="row no-gutters mt-5">
          <div class="col-12 col-md-5">
            <p class="font-weight-normal">- A PC or Mac, an internet connection</p>
          </div>
          <div class="col-12 col-md-5 ml-md-auto">
            <p class="font-weight-normal"> - Ability to write your thoughts in English</p>
          </div>
          <div class="col-12 col-md-5">
            <p class="font-weight-normal">- You must be at least 18 years old or have parental consent</p>
          </div>
          <div class="col-12 col-md-5 ml-md-auto">
            <p class="font-weight-normal">- Be really excited to code!</p>
          </div>

        </div>
        <a class="d-table btn btn-outline-primary btn-border-2x" href="javascript:">See the demo</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-wrap align-items-center justify-content-between text-white">
        <div class="cta-body">
          <h5 class="m-0">Try it for free</h5>
          <p class="lead m-0">Already using DevX Testing? <a href="#" class="text-success">Sign in.</a></p>
        </div>
        <a class="btn btn-success btn-lg text-uppercase d-table" href="javascript:">Get Started</a>
      </div>
    </div>
  </div>
</section>


<footer class="bg-gray-dark">
  <div class="container">
    <div class="row no-gutter bg-gray-dark p-5">
      <div class="col-12 col-md-2">
        <div class="d-flex flex-column flex-wrap align-items-start justify-content-center">
          <img src="<%= image_path('rrt/pyrrmid_64.png') %>" class="mb-3" width="64" height="64" >
          <h6 class="text-primary">DevX Testing</h6>
        </div>
      </div>
      <div class="col-12 col-md-10 ml-md-auto text-primary">
        <div class="row">
          <div class="col-12 col-md-3">
            <h6>NAVIGATION</h6>
            <ul class="list-unstyled">
              <%= link_to "HOME", root_url %>
              <!--
              <li><a href="javascript:" class="text-hover-light">About</a></li>
              <li><a href="javascript:" class="text-hover-light">Projects</a></li>
              <li><a href="javascript:" class="text-hover-light">Contact</a></li>-->
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>LEGAL</h6>
            <ul class="list-unstyled">
              <li><a href="javascript:" class="text-hover-light">Terms of Service</a></li>
              <li><a href="javascript:" class="text-hover-light">Privacy Policy</a></li>
              <li><a href="javascript:" class="text-hover-light">Cookie Policy</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>SUPPORT</h6>
            <ul class="list-unstyled">
              <li><a href="javascript:" class="text-hover-light">FAQ</a></li>
              <li><a href="javascript:" class="text-hover-light">Help Desk</a></li>
              <li><a href="javascript:" class="text-hover-light">Knowledge Base</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>SUBSCRIBE</h6>
            <form action="">
              <input type="text" class="form-control text-white text-focus-dark small" placeholder="Your Email">
              <button class="btn btn-success btn-sm btn-block mt-2" type="button">Get Notified</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutter bg-gray-dark p-4">
      <div class="col-12 text-center">
        <p class="small text-muted m-0">&copy; 2018 &dash; DevX Testing INC</p>
      </div>
    </div>
  </div>

</footer>
