<div class="container">
  <div class="row">
    <h2 class="header-separator text-center col-12 my-4 mb-5">Build a developer experience that any developer can use and understand.</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center mb-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "eye", class: "display-3" %>
      </div>
      <h3>Test your developer experience on real users </h3>
      <p>We have created a diverse group of engineers that will use your existing product and give you feedback. </p>
    </div>
    <div class="col-12 col-md-4 text-center mb-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "ticket", class: "display-3" %>
      </div>
      <h3>Test understanding with new developers </h3>
      <p>Was your documentation written by your best engineers that have the curse of knowledge? Ensure that entry level developers understand how to use your product. </p>
    </div>
    <div class="col-12 col-md-4 text-center mb-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "pulse", class: "display-3" %>
      </div>
      <h3>Ensure that your experience is accessible</h3>
      <p>The WHO estimates that 15% of the world’s population currently lives with a disability. Does your experience include them?</p>
    </div>
    <div class="col-12 col-md-4 text-center mt-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "eye", class: "display-3" %>
      </div>
      <h3>Create Meaning</h3>
      <p>Learn how to create sample code and documentation that provides developers with concrete examples.</p>
    </div>
    <div class="col-12 col-md-4 text-center mt-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "ticket", class: "display-3" %>
      </div>
      <h3>Create a data-backed experience</h3>
      <p>Clearly track and improve your adoption and retention metrics.</p>
    </div>
    <div class="col-12 col-md-4 text-center mt-5">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "pulse", class: "display-3" %>
      </div>
      <h3>Free up your product managers</h3>
      <p>Developer Experience is often an after-thought. Validate and improve your experience early.</p>
    </div>
  </div>
</div>
